body {
  font-family: Helvetica;
}
.app {
  display: flex;
}

.sidebar {
  display: flex;
  justify-content: center;
  width: 10%;
  background-color: #5F5F5F;
  height: 100vh;
  img {
    width: 50px;
    height: 50px;
    margin-top: 20px;
  }
}

.channel-list {
  display: flex;
  width: 30%;
  padding: 20px;
  background-color: #F4F4F4;
  height: 100vh;
}

.channels-container {
  padding: 20px;
  width: 30%;
  height: 100%;
  background: #f4f4f4;
  box-sizing: border-box;
}

.channels-container > span {
  font-weight: 900;
}

.channels-container > ul {
  list-style: none;
  -webkit-margin-before: 2em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

.channels-container > ul > li {
  margin: 10px 0;
  font-size: 14px;
  color: #7c7c7c;
  cursor: pointer;
}

.channels-container > ul > li.active {
  font-weight: 600;
  color: black
}

.channel-title {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 28px;
  height: 10vh;
  width: 100%;
  border-bottom: 1px solid #f4f4f4;
}

.channel-content {
  padding: 20px 20px 0 28px;
  box-sizing: border-box;
  height: 80vh;
  overflow: scroll;
}

.message-form {
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  height: 10vh;
  border-top: 1px solid #f4f4f4;
}

.message-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  // padding: 20px;
  background-color: #FF9;
  height: 100vh;
}

.message-list {
  display: flex;
}

.message {
  width: 100%;
}

.time {
  font-size: 10px;
  color: #5F5F5F;
}

.author {
  color: red;
}

// search

.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
}

.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

